#screen{
    margin: 200px;
}

h1{
    text-align: center;
}

#descontos{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

#salario-bruto{
    margin-left: 30px;
    margin-right: 30px;
}

#descontos{
    margin-top: 20px;
}

#base-inss{
    margin-right: 30px;
}

#desconto-inss{
    margin-right: 30px;
}

#base-iprf{
    margin-right: 30px;
}

#desconto-iprf{
    margin-right: 30px;
}

#salario-liquido{
    margin-left: 30px;
    margin-right: 30px;
}

#bars{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

input{
    font-weight: bold;
}

#full{
    font-weight: normal;
}

#inss{
    color: rgb(235,145,64);
}

#irpf{
    color: rgb(217,66,20);
}

#liquid{
    color: rgb(79,201,173);
}